{{define "page"}}
	<form method="POST" enctype="multipart/form-data">
		<input type="file" name="file" required />
		<input type="submit" name="submit" class="btn" value="Send" />
	</form>
	{{if .dataset}}
	<div class="input-append">
		<input class="btn" type="button" id="btProcess" value="Process" />
		<input class="btn" type="button" id="btHideTable" value="Hide Table" />
		<input class="btn" type="button" id="btHideSlected" value="Hide Selected" />
		<input class="btn" type="button" id="btShowScatter" value="Visualize" />
		<input class="btn" type="button" id="btShowQQ" value="View Q-Q Plot" />
		<input class="btn" type="button" id="btShowAll" value="Show All" />
	</div>
	<hr>
	<div class="input-append">
		<input id="numCluster" type="number">
		<input class="btn" type="button" id="btClustering" value="Clustering" />
	</div>
	<div id="alert">
	</div>
	<table id="dataset" class="table table-striped table-bordered table-hover">
		<tr>
		{{range $idx, $val := .dataset.Header}}
			<th>
				<label class="checkbox">
					{{$val.Name}}
					<input type="checkbox" data-id="{{$idx}}" class="checkField" />
				</label>
			</th>
		{{end}}
			<th class="colCluster">Cluster</th>
		</tr>
		{{$firstset := index .dataset.Data 0}}
		{{$data := .dataset.Data}}
		{{range $idx, $val := $firstset.Real}}
		<tr>
			{{range $set := $data}}
			<td>
				{{index $set.Real $idx}}
			</td>
			{{end}}
			<td class="colCluster" style="color:red" id='tdCluster{{$idx}}'></td>
		</tr>
		{{end}}
	</table>
	<table id="scatterTable" class="hide">
		<tr>
			<td>
				<div class="scatterChart" id="scatterChart0"></div>
			</td>
			<td>
				<div class="scatterChart" id="scatterChart1"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="scatterChart" id="scatterChart2"></div>
			</td>
			<td>
				<div class="scatterChart" id="scatterChart3"></div>
			</td>
		</tr>
	</table>
	<!-- Modal -->
	<div id="qqModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="qqModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="qqModalLabel">Modal header</h3>
		</div>
		<div id="qqChart" class="modal-body">
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>
	<div>
		<div id="boxplot" style="height: 400px; margin: auto;"></div>
		<div id="graph"></div>
	</div>
	{{end}}
	<script type="text/javascript" src="/statics/js/libs/highcharts.js"></script>
	<script type="text/javascript" src="/statics/js/libs/highcharts-more.js"></script>
	<script type="text/javascript" src="/statics/js/libs/jstat-1.0.0.min.js"></script>
	<script type="text/javascript" src="/statics/js/alert.js"></script>
	<script type="text/javascript" src="/statics/js/index.js"></script>
{{end}}